<% content_for :section do %>
  <section class="effective">
    <div class="container">
      <h1 class="effect-text-style"><span class="effect-color">EFFECTIVE, </span>ORGANISED,<br>& QUICK ONLINE<br><span class="effect-color">KITCHEN</span></h1>
      <h3 class="effect-texxt-style">Get food delivered to your doorsteps.</h3>
    </div>
  </section>
<% end %>
<section class="work-model">
  <div class="container">
    <div class="how-works">
      <h2 class="works-text">HOW IT WORKS</h2>
    </div>
    <div class="works-paradigm">
      <div class="order-food">
        <ul class="paradigm-style">
          <li><%= image_tag("/order.jpeg", class: "paradigm-image__order") %></li>
          <li><h4>Order Your Food</h4></li>
          <li><p>Browse through categories of available meal</p></li>
        </ul>
      </div>
      <div class="recieve-food">
        <ul class="paradigm-style">
          <li><%= image_tag("/receive.png", class: "paradigm-image__receive") %></li>
          <li><h4>Recieve at your doorstep</h4></li>
          <li><p>Your order would be delivered as quick as possible</p></li>
        </ul>
      </div>
      <div class="enjoy-food">
        <ul class="paradigm-style">
          <li><%= image_tag("/deliver.png", class: "paradigm-image__deliver") %></li>
          <li><h4>Get the treat</h4></li>
          <li><p>Enjoy food items</p></li>
        </ul>
      </div>
    </div>
  </div>
</section>
